{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="col-md-8 blog-main">
        {% for post in post_list %}
        {% if forloop.counter|divisibleby:2 or forloop.last %}
        <div class="row">
        {% endif %}
            <div class="col-sm-6">
                <article class="blog-teaser">
                    <header>
                        {% comment %}
                        <img src="{{ post.lead_art.file.url }}" class="post-image">
                        {% endcomment %}
                        {% image post.lead_art min-200x200 class="post-image" %}
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        <span class="meta">{{ post.date }}</span>
                        <hr>
                    </header>
                    <div class="body">{{ post.summary }}</div>
                    <div class="clearfix">
                        <a href="{{ post.url }}" class="btn btn-tales-one">Read more</a>
                    </div>
                </article>
            </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
        </div>
        {% endif %}
        {% endfor %}

        {% if is_paginated %}
            {% include '_home/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
    <aside class="col-md-4 blog-aside">
        {% include "home/_aside.html" %}
    </aside>
{% endblock %}

