{% extends "base.html" %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="col-md-8 blog-main">
        {% for post in post_list %}
            {% include "home/_single_post.html" with post=post summary_only=True %}
        {% endfor %}

        {% if is_paginated %}
            {% include "home/_pagination.html" with page_obj=page_obj %}
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
    <aside class="col-md-4 blog-aside">
        {% include "home/_aside.html" with related_posts=related_posts %}
    </aside>
{% endblock %}

