{% extends "base.html" %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="col-md-8 blog-main">
        {% for post in post_list %}
            {% include "home/_single_post.html" with post=post %}
        {% endfor %}

        {% if is_paginated %}
            <div class="paging pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left"></i> Newer</a>
                    {% endif %}
                    <span class="page-current">&bull;</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Older <i class="fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
    <aside class="col-md-4 blog-aside">
        <div class="aside-widget">
            <header>
                <h3>A simple widget</h3>
            </header>
            <div class="body">
                that says hi!
            </div>
        </div>
    </aside>
{% endblock %}

