<div class="citation-block">
    <div class="row">
        <div class="col-xs-4 col-md-6 citation-image-container">
            <img src="{{ self.image.file.url }}" alt="{{ self.image.title }}" class="citation-image">
        </div>
        <div class="col-xs-8 col-md-6 citation-content">
            <p class="citation-title">{{ self.title }}</p>
            <p class="citation-authordate">
                {% if self.author %}{{ self.author }},{% endif %}
                {% if self.date %} &nbsp;{{ self.date }}{% endif %}
            </p>
            <p class="citation-links">
                {% if self.href %}<a href="{{ self.href }}" target="_blank">link</a>{% endif %}
                {% if self.document %} | <a href="{{ self.document.file.url }}" target="_blank">doc</a>{% endif %}
            </p>
        </div>
    </div>
</div>
