.related-image {
    max-height: 100%;
    max-width: 100%;
}
.rich-text a {
    text-decoration: underline;
}
.aside-widget .body {
    margin-bottom: 20px;
}

/* Pullquote Styling */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #566572;
    margin: 1.5em 30px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
}
blockquote div {
    display: inline;
    position: relative;
}
blockquote:before {
    color: #566572;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.pullquote-author {
    float: right;
    font-weight: bold;
}

/* Citation styling */
.block-citation, .block-related {
    margin: 1.5em 30px;
    background-image: linear-gradient(to bottom, #f6f5f5 0%, #ebeaea 100%);
    border-left: 10px solid #566572;
    opacity: 0.8;
}
.citation-image-container {
    width: 150px;
    margin: 5px;
}
.citation-image {
    max-width: 100%;
    height: auto;
}
.citation-content {
    vertical-align: center;
}
.citation-title {
    font-weight: bold;
}
.citation-authordate {
    font-style: italic;
}
.citation-related {
    font-style: italic;
}
.citation-links {
    text-decoration: underline;
}

/* Related post sidebar styling */
.related-items {
    margin: 0;
    padding: 0;
}
.related-item {
    list-style-type: none;
    margin-top: 5px;
}

/* Tag styling */
.tagname-header {
    font-weight: bold;
}

/* Logo */
.masthead {
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo-img {
    max-width:100%;
    max-height:80px;
    margin-top:-20px;
    margin-bottom:-50px;
}
.logo-txt {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    left: 90px;
    top: 35px;
    color: #ececec;
}
.widewrapper.subheader {
    min-height:40px;
}
.tales-nav {
    margin-top:0px;
    margin-bottom:0px;
}
.tales-searchbox {
    margin-top:8px;
    margin-bottom:8px;
}
