.post-image {
    max-height: 100%;
    max-width: 100%;
}
.main a {
    text-decoration: underline;
}

/* Pullquote Styling */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 30px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
}
blockquote div {
    display: inline;
    position: relative;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.pullquote-author {
    float: right;
    font-weight: bold;
}

/* Citation styling */
.citation-block {
    margin: 1.5em 30px;
    border: 3px solid #ccc;
    background-color: #ddd;
}
.citation-image-container {
    width: 150px;
    margin: 5px;
}
.citation-image {
    max-width: 100%;
    height: auto;
}
.citation-content {
    vertical-align: center;
}
.citation-title {
    font-weight: bold;
}
.citation-authordate {
    font-style: italic;
}
.citation-related {
    font-weight: bold;
    margin: 2px 2px 2px 20px;
}

/* Related post sidebar styling */
.related-posts {
    margin: 0;
    padding: 0;
}
.related-post {
    background-color: #ddd;
    list-style-type: none;
    margin-top: 5px;
}
